.sort {
  width: 230px;
  position: relative;
  & .sortLabel > p {
    font-weight: 700;
    font-size: 0.875rem;

    span {
      font-weight: 400;
      color:#FE5F1E;
      margin-left: 5px;
      border-bottom: 1px dotted #FE5F1E;
      cursor: pointer;
    }
  }

  & .sortPopup {
    position: absolute;
    left: 0%;
    top: 50%;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 200px;

    & > li {
      padding: 10px 20px 10px 20px;
      cursor: pointer;

      &:hover {
        background-color: rgba(254, 95, 30, 0.04);
        color: #FE5F1E;
      }

    }
  }
}

.active {
  background-color: rgba(254, 95, 30, 0.05);
  color: #FE5F1E;
  font-weight: 700;
}
