.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.tab {
  border-radius: 30px;
  background-color: #f5f5f5;
  padding: 12px 30px;
  color:#2C2C2C;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
}

.tabActive {
  background-color: #282828;
  color:#fff;
}
