.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 100px 0;
  width: 600px;
  text-align: center;

  & > p {
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #777777;
  }

  & > img {
    margin: 40px 0;
  }

  & > a {
    text-transform: none;
    text-decoration: none;
  }

  & .blackBtn {
    background: #282828;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 15px 40px;
    transition: 0.2s ease-in-out;

    &:hover {
      background: #373737;
    }
    &:active {
      background: #585858;
    }
  }
}

.notEmptyCart {
  width: 60%;
  margin-top: 50px;
  margin-bottom: 50px;

  @media (max-width: 500px) {
    width: 90%;
  }

  & .grayBtn {
    background-color: transparent;
    color: #D3D3D3;
    width: 230px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    padding: 18px 30px;
    font-weight: 400;
    height: 55px;
    margin-bottom: 10px;

    border: 1px solid #D3D3D3;

    & > svg {
      margin-right: 15px;
    }
    &:hover {
      background-color: #D3D3D3;
      color: #fff;

      & path {
        stroke: #fff;
      }
    }

    &:active {
      background-color: #b8b8b8;
      color: #fff;

      & path {
        stroke: #fff;
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 15px;

  font-size: 1.375rem;

  & > a {
    text-decoration: none;
  }
  & > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 750px) {
    justify-content: center;
    flex-direction: column;
  }
}

.headline, .clearCart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  & > svg {
    margin-right: 8px;
  }

  & > p {
    color: #B6B6B6;
    font-size: 1rem;
  }
}

.clearCart {
  border: none;
  background: transparent;
  cursor:pointer;
  padding: 0;
  margin: 0;
}

.pizzaRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 30px 0;
  border-top: 1px solid #F4F4F4;
}

.pizzaDescription {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 350px;

  & h4 {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 1.375rem;
  }
  & p {
    margin-top: 5px;
    font-size: 1.125rem;
    color: #8D8D8D;
  }
  & img {
    margin-right: 20px;
  }
}

.pizzaChoseBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1
}

.changeCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105px;

  & > span {
    font-weight: 700;
    font-size: 1.375rem;
  }
}

.changeCountBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;

  border-radius: 100px;
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
  width: 32px;
  height: 32px;
  background: transparent;
  cursor: pointer;

  & > svg {
    width: 10px;
    height: 10px;
  }

  &:hover {
    background: #FE5F1E;
    & path {
      fill: #fff;
    }
  }
}

.price {
  font-weight: 700;
  font-size: 1.375rem;
}

.removePizzaBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;

  border-radius: 100px;
  border: 2px solid #D0D0D0;
  color: #FE5F1E;
  width: 32px;
  height: 32px;
  background: transparent;
  cursor: pointer;

  & > svg {
    width: 10px;
    height: 10px;
  }

  &:hover {
    background: #D0D0D0;
    & path {
      fill: #fff;
    }
  }
}

.allCount {
  color: #000;
  font-weight: 700;
}
.allPrice {
  color: #FE5F1E;
  font-weight: 700;
}


