.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  border-bottom: 1px solid #F6F6F6;

  @media (max-width: 500px) {
    padding: 20px;
  }

  & > a {
    color: black;
    text-decoration: none;
  }

  .headerLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & img {
      margin-right: 20px;
    }

    & h1 {
      text-decoration: none;
    }

    & p {
      font-style: normal;
      font-weight: 400;
      line-height: 1.2rem;
      color: #7B7B7B;
    }
  }
  .orangeBtn {
    background-color: #FE5F1E;
    color: #fff;
    width: 160px;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    padding: 14px 23px;

    &:hover {
      background-color: #fd6f30;
    }

    &:active {
      background-color: #ff7a48;
    }

    span {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .headerCartIcon {
      margin-right: 10px;
    }
    @media (max-width: 750px) {
      font-size: 0.9rem;
      padding: 11px 20px;
      width: 150px;
    }
  }
}
