:root {
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.6rem;

  @media (max-width: 800px) {
    font-size: 0.9rem;
  }
  @media (max-width: 500px) {
    font-size: 0.8rem;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #FFDF8C;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.01em;
  color: #000000;
}


.btn {
  padding: 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-radius: 30px;
  outline: none;
  border: none;
}
